<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505495639475-tvkckqkts6qctp5pp6sgrsdisqvkfq3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505495639475-tvkckqkts6qctp5pp6sgrsdisqvkfq3a</string>
	<key>API_KEY</key>
	<string>AIzaSyCUNmOs_TrOrnB0SgRr7IrYaCb8ARzUMfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>505495639475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>practice-app-6b018</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-app-6b018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505495639475:ios:a05ae789e0f4a0e95927c6</string>
</dict>
</plist>